* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
   text-align: center;
   width: 400px;
   height:100vh;
   margin: auto;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1,h3 {
    margin-bottom: 1rem;
    font-weight: normal;
}

img {
    border-radius: 50%;
    border: 5px solid black;
    margin-bottom: 1rem;
}

.male {
    border-color: steelblue;
    background-color: steelblue;
}

.female {
    border-color: pink;
    background-color: pink;
    color:#333;
}

button {
    cursor: pointer;
    padding: .5rem;
    color: white;
    font-weight: bold;
    border-radius: 3px;
}